
@font-face {
	font-family: 'entypo';
  src: url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAWAAAsAAAAABTQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgCCL8uGNtYXAAAAFoAAAATAAAAEwaVcxZZ2FzcAAAAbQAAAAIAAAACAAAABBnbHlmAAABvAAAAcAAAAHA+MXyZmhlYWQAAAN8AAAANgAAADYB3KiuaGhlYQAAA7QAAAAkAAAAJAPiAehobXR4AAAD2AAAABwAAAAcBwAAZ2xvY2EAAAP0AAAAEAAAABAA7gFebWF4cAAABAQAAAAgAAAAIAANAD5uYW1lAAAEJAAAATwAAAE85f6fknBvc3QAAAVgAAAAIAAAACAAAwAAAAMCAAGQAAUAAAFMAWYAAABHAUwBZgAAAPUAGQCEAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA5gIB4P/g/+AB4AAgAAAAAQAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABAA4AAAACgAIAAIAAgABACDmAv/9//8AAAAAACDmAP/9//8AAf/jGgQAAwABAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAUATQAAAbMBzQAEACEAJgArADAAADczNSMVNyEiBgcOARURFBYXHgEzITI2Nz4BNRE0JicuASMRIREhEQMjFTM1FSMVMzW5j4/H/wALEgcHCAgHBxILAQALEgcHCAgHBxIL/wABADiQkJCQ0C4u/QgHBxMK/pkKEwcHCAgHBxMKAWcKEwcHCP5mAWf+mQEvLS3JLS0AAAAAAgAAABoCAAGzABwAOwAAASEiBgcGFBUXHgEXHgEzITI2Nz4BPwE8AScuASMnLgEnLgErASImJy4BLwEuAScuASsBIgYHDgEPASEnAej+MAkKAgMVAQIDAwsJAZwJCwMDAgEVAwIKCREBBgQECgauBgwGBgsDEAMLBgYMBlMFCgQEBQEHAbEFATMEAwQJBecFCQQDBAQDBAkF5wUJBAMEOQQHAwMDAwIDBgQPBAYDAgMEAwQJBUMVAAEAGgA4AeYBlAANAAAlMCYjNQcXNTIWFx4BFwHma6i5uS1QIiM6Fzj5Y6WrcAcNDTEqAAABAAAAAQAAIEIGsV8PPPUACwIAAAAAANBfM/IAAAAA0F8z8gAAAAACAAHNAAAACAACAAAAAAAAAAEAAAHg/+AAAAIAAAAAAAIAAAEAAAAAAAAAAAAAAAAAAAAHAAAAAAAAAAAAAAAAAQAAAAIAAE0CAAAAAgAAGgAAAAAACgAUAB4AagDGAOAAAQAAAAcAPAAFAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAAwAAAABAAAAAAACAA4AQAABAAAAAAADAAwAIgABAAAAAAAEAAwATgABAAAAAAAFABYADAABAAAAAAAGAAYALgABAAAAAAAKADQAWgADAAEECQABAAwAAAADAAEECQACAA4AQAADAAEECQADAAwAIgADAAEECQAEAAwATgADAAEECQAFABYADAADAAEECQAGAAwANAADAAEECQAKADQAWgBlAG4AdAB5AHAAbwBWAGUAcgBzAGkAbwBuACAAMQAuADAAZQBuAHQAeQBwAG9lbnR5cG8AZQBuAHQAeQBwAG8AUgBlAGcAdQBsAGEAcgBlAG4AdAB5AHAAbwBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('woff');
	font-weight: normal;
	font-style: normal;
}

.entypo {
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: 200;
	font-variant: normal;
	text-transform: none;
  vertical-align: baseline;
  padding: 3px;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.i-back:before {
	content: "\e602\00a0";
}
.i-file:before {
	content: "\e600\00a0";
}
.i-folder:before {
	content: "\e601\00a0";
}

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
body {
  margin: 0;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
b,
strong {
  font-weight: bold;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
code,
pre {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #fff;
  margin: 0 auto;
  height: 100%;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  color: #333333;
  font: 15px "Source Sans Pro", "Calibri", "Helvetica", "Arial", "Freesans", "Clean", sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  width: 960px;
}
@media screen and (max-width: 659px) {
  body {
    width: 100%;
  }
}
@media screen and (min-width: 660px) {
  body {
    width: 660px;
  }
}
#main,
#footer,
#header {
  width: 94%;
  margin: auto;
}

#footer {
  border-top: 1px solid #dddddd;
  text-align: center;
  font-size: 75%;
}
#footer p {
  line-height: 0.6em;
}
/* Lists */
ul,
ol {
  padding-left: 30px;
}
li p {
  margin: 0 auto;
}
li {
  list-style-type: none;
}
dl dd {
  margin: 0 0 0 32%;
  padding: 0 0 0.2em 0;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111111;
  border-bottom: 1px solid #dddddd;
}
h1 {
  text-align: center;
}
pre {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 10px auto;
  padding: 2px 4px 0 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: #333333;
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  margin: auto;
  font-family: "Source Code Pro", "Monaco", "DejaVu Sans Mono", "Courier New", monospace;
  padding: 0;
}
pre a {
  color: #264c72;
}
pre p {
  margin: 0 auto;
}
pre code {
  box-shadow: none;
  background: #f8f8f8;
  padding: 0px 2px 0 2px;
  border: none;
}
@media screen and (max-width: 639px) {
  .responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .responsive td {
    white-space: nowrap;
  }
}
table {
  border-collapse: collapse;
  margin: 15px auto;
  border-spacing: 0;
  empty-cells: show;
}
table thead {
  background: #f8f8f8;
  color: #222;
  text-align: left;
  vertical-align: bottom;
}
table td,
table th {
  background-color: transparent;
  border: 1px solid #999999;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 6px 12px;
}
hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(99, 99, 99, 0), rgba(99, 99, 99, 0.75), rgba(99, 99, 99, 0));
  background-image: -moz-linear-gradient(left, rgba(99, 99, 99, 0), rgba(99, 99, 99, 0.75), rgba(99, 99, 99, 0));
  background-image: -ms-linear-gradient(left, rgba(99, 99, 99, 0), rgba(99, 99, 99, 0.75), rgba(99, 99, 99, 0));
  background-image: -o-linear-gradient(left, rgba(99, 99, 99, 0), rgba(99, 99, 99, 0.75), rgba(99, 99, 99, 0));
}
.center {
  margin: auto;
  text-align: center;
}

a,
a:visited {
  color: #4183c4;
  text-decoration: none;
}
a:hover,
a:visited:hover {
  text-decoration: underline;
}
